
*{
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    
}

body{
    width: 1300px;
    margin: 0%;
}
header{
display: flex;
margin: auto;
}
header button{
    margin-top: 15px;
    margin-left: 320px;
    text-align: center;
    height: 30px;
    width: 200px;
    border-radius: 20px;
    border-width: 1px;
    border-color: rgb(209, 197, 197);
    border-bottom: 1px solid rgb(209, 197, 197) ;
    background-color: white;
}
header button img{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-left: 0px;
}
#travel{
    margin-left: 20px;
    margin-top: 20px;
}
header li{
    float: left;
    margin-left: 20px;
    list-style-type: none;
    margin-top: 8px;
}
header img{
    margin-left: 40px;
}
.search{
    margin: 0px;
    width:100%;
    height: 500px;
    background-image: url("./images/divOneImg.jpeg");
    background-size: 110%;
    background-repeat: no-repeat;
    filter:brightness(88%);
    margin-top: -20px;
}
#color{
    width: 100%;
    height: 500px;
    background: rgba(0, 0, 0, 0.317);
}
.search p {
    padding-top: 250px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    color: white;
    margin-left: 40px;
}
.buts{
    margin-top: -180px;
    margin-bottom: 180px;
    position:sticky;
    top: 0px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: white;
    height: 70px;
    border-radius: 10px;
    background-color: white;
}
.buts img{
    height: 25px;
    width: 30px;
    background-color: white;
}
.buts button{
    width: 330px;
    height: 50px;
    text-align: left;
    border-radius: 10px;
    border-width: 1px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: white;
    
}

#seek{
        width: 80px;
        border-color: black;
        border-radius: 70px;
        text-align: center;
        justify-content: center;
        padding-top: 20px;
        color: white;
        background-color: rgb(4, 4, 79);
        
}
.signin{
    background-color: rgb(4, 4, 79) ;
    color: white;
    height: 70px;
    width: 1200px;
    margin:  40px auto;
    justify-content: left;
    border-radius: 10px;
    display: flex;

}
.signin p{
    padding-top: 10px;
    padding-left: 20px;
    font-weight: bold;
    font-size: large;
}
.signin button{
    padding-left: 450px;
    color: white;
    background-color: rgb(4, 4, 79) ;
    border: none;
}
.signin img{
    width: 40px;
    height: 30px;
    background-color: rgb(122, 173, 244);
    margin-right: 10px;
    border-radius: 54%;
}
h2{
    font-size: xx-large;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 30px;
}
.destinations{
    display: flex;
}
.dest{
    margin-left: 30px;
    border: 1px solid rgba(128, 128, 128, 0.539);
    border-radius: 10px;


}
.dest p{
    padding-left: 20px;
    padding-bottom: 10px;
}
.destinations img{
    width: 265px;
    height: 130px;
    margin-bottom: 20px;
    border-top: 1px solid black;
    border-top-right-radius: 10px ;
    border-top-left-radius: 10px;
    
}
.accomodation{
    display: flex;
}
.accomodation div{
    width: 250px;
    height: 300px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-size: 100%;
    /* background-repeat: no-repeat; */
    border-radius: 15px;
}
.accomodation p{
    padding-top: 260px ;
    color: white;
    font-weight:bolder;
    margin-left: 20px;
}
.accomodation .a4 p{
    color: black;
}
.a1{
    background-image: url('./images/hodidayHouse.jpeg');
}
.a2{
    background-image: url('./images/HouseBoat.jpeg');
}
.a3{
    background-image: url('./images/cottage.jpeg');
    
}
.a4{  
    background-image: url('./images/chalet.jpeg');
}
.a5{
    background-image: url('./images/Holiday\ apartment.jpeg');
}
p{
    margin-left: 30px;
}
.trips{
    display: flex;
}
.trips p button{
    background-color: green;
    width: 35px;
    height: 25px;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
}
.trips img{
    width: 280px;
    height: 200px;
    border: 0px solid black;
    border-radius: 20px;
}
.trips div{
    margin-left: 30px;
}
.trips2{
    display: flex;
    margin-left: 30px;
}

.trips2 img{
    width: 600px;
    height: 300px; 
    margin: 0px;  
    border-radius: 10px;
}
.Holiday-Homes{
    display: flex;
}


.Holiday-Homes div{
    margin-left: 18px;
}
.Holiday-Homes p button{
    background-color: green;
    width: 35px;
    height: 25px;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
}
.Holiday-Homes p {
    width: 200px;
} 

.Holiday-Homes img{
    width: 280px;
    height: 200px;
    border: 0px solid black;
    border-radius: 20px;   
}
.private{
    border: 1.5px solid rgba(235, 231, 231, 0.726);
    display: flex;
    margin-left: 30px;
    width: 1200px;
    height: 340px;
    padding-top: 40px;
    border-radius: 20px;
}
.privDiv1{
    width: 300px;

}
.privDiv2{
    display: flex;
    margin-left: 20px;
}
.privDiv2 img{
    width: 190px;
    height: 280px; 
    margin-left: 20px;
    border-radius: 10px;
}
.icons{
    display: flex;
    margin-top: 40px;

}
.icons img{
    width: 100px;
    height: 50px; 
    margin-left: 50px;
}
.icons div{
    width: 300px;
}
.Rent{
    background-image: url('./images/Rent.jpeg');
    width: 90%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 30px;
    padding-left: 40px;
    padding-top: 5px;

}
#RentCont{
    margin-left: 40px;
    width: 410px;
    background-color: white;
    height: 400px;
    font-size: 40px;
    border-radius: 20px;
}
#RentCont h1{
    font-size: 50px;
    margin-left: 20px;
    font-weight: 1px;
    font-family: serif;
}
#RentCont p{
    margin-left: 20px;
    font-size: 15px;

}
#RentCont button{
    margin-left: 20px;
    width: 160px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(1, 8, 52);
    border: none;
    color: white;
}
.Words{
    width: 1200px;
   
}
.Words h1{
    margin-left: 30px;
    font-size: 25px;
    margin-top: 50px;
}
.Words p{
    margin-left: 30px;
    font-size: 15px;
    margin-bottom: 30px;
    word-spacing: 2px;
}
.Words ul li{
list-style-type: none;
margin-bottom: 20px;
font-size: 15px;
}
footer{
    height: 550px;
    background-color: rgba(246, 250, 250, 0.728);
    margin-top: 50px;
}

.footInfo{
    display: flex;
}
.footInfo div{
    margin-left: 80px;
}

.footInfo ul li{
    list-style-type: none;
    margin-top: 20px;
    color: rgb(5, 61, 173);
}
.lastDiv{
    display: flex;
    margin-left: 40px;
    margin-top: 45px;
}